@import "../../../styles/base/_settings.css";

.root {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 var(--spacer);

  @media (--above-mobile) {
    padding: 0 var(--spacer-lg);
  }
}
