@import "../../../styles/base/_settings.css";
@import "../../../styles/utils/_helpers.css";

/* Collapsible Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  position: relative;
  margin-bottom: var(--spacer);

  @media (--above-tablet) {
    overflow: hidden;
    padding: var(--spacer) var(--spacer-sm);

    &::before {
      content: "";
      position: absolute 0 null 0 50%;
      width: 1px;
      margin: var(--spacer) 0;
      background: var(--grey-lighten);
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      background: #fff;
      border: 1px solid var(--grey-lighten);
      border-radius: 50%;

      @apply --center-xy;
    }
  }
}

/* left and right side of the container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.left,
.right {
  @media (--above-tablet) {
    float: left;
    width: 50%;
  }
}

.left {
  @media (--above-tablet) {
    padding-right: var(--spacer-md);
  }
}

.right {
  @media (--above-tablet) {
    padding-left: var(--spacer-md);
  }
}

/* dividers between each 'Collapsible'
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  & [data-divider="true"] {
    position: relative;
    margin-bottom: var(--spacer-xl);

    &::before {
      content: "";
      position: absolute null 0 -22px 0;
      height: 1px;
      margin: 0 10em;
      background-color: var(--grey-lighten);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -28px;
      left: 50%;
      width: 12px;
      height: 12px;
      background: #fff;
      border: 1px solid var(--grey-lighten);
      border-radius: 50%;
      transform: translateX(-50%);
    }

    @media (--above-tablet) {
      margin-bottom: 0;

      &::before,
      &::after {
        content: none;
      }
    }
  }
}
