@import "../../../styles/base/_settings.css";

.root {
  overflow: hidden;
  border-radius: 2px;
  box-shadow:
    rgba(#000, 0.117647) 0 1px 6px,
    rgba(#000, 0.117647) 0 1px 4px;

  &:global {
    &.popOut {
      margin: 0 var(--spacer-md);
      transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &.is-open {
        margin: var(--spacer) 0;
        box-shadow:
          0 5px 11px 0 rgba(#000, 0.18),
          0 4px 15px 0 rgba(#000, 0.15);
      }

      &.is-close {
        margin: 0 var(--spacer-md);
      }
    }

    &:not(.popOut) {
      & ul {
        padding-bottom: 0;
      }
    }
  }
}

.title {
  box: horizontal-middle center wrap;
  position: relative;
  padding: var(--spacer);
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;

    & .expandIcon::after {
      transform: scale(1);
    }
  }
}

.titleLeft {
  flex: 1 0 80%;

  & :global {
    & .icon {
      vertical-align: middle;
      margin-right: var(--spacer);
    }

    & .text {
      vertical-align: middle;
      color: var(--grey-darken);
      font-size: var(--text-lg);
    }
  }
}

.titleRight {
  box: horizontal-right wrap;
  flex: 0 0 20%;
}

.expandIcon {
  position: relative;
  padding: 3.2px;

  &:global {
    &.is-open {
      transform: scaleY(-1);
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute 0;
    background: rgba(224, 224, 224, 0.4);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.35s ease-out-back;
  }
}

.hr {
  position: absolute null var(--spacer-md) -var(--spacer-sm) var(--spacer);
  border-top: none;
  border-bottom: 1px solid var(--accent-color);
}

.body {
  & ul {
    padding: 0 0 var(--spacer-md) var(--spacer-md);
    list-style-type: circle;
  }

  & li {
    padding-bottom: var(--spacer-sm);
  }

  & p {
    padding-left: var(--spacer-sm);
    color: var(--secondary-text);
    font-size: var(--text-md);

    &::first-letter {
      font-size: 1.2em;
    }
  }
}
