@import "../../../styles/base/_settings.css";

.root {
  position: relative;
  overflow: hidden;
  border-radius: 2Px;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: var(--text-lg);
}

.content {
  padding: var(--spacer);
  background: var(--primary-color);
  color: #fff;
}

.title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fff;
}

.subTitle {
  display: inline-block;
  margin-top: var(--spacer);
  font-style: italic;
}

.footer {
  overflow: hidden;
  padding: var(--spacer-md) var(--spacer);
  border-top: 1px solid rgba(var(--grey-darken), 0.5);
}

.footerText {
  float: left;
  width: 90%;
  color: var(--secondary-text);
  font-size: var(--text-regular);
}

.iconContainer {
  box: horizontal-middle space-around wrap;
  float: right;
  width: 10%;

  & > div {
    cursor: pointer;
  }
}

/* hidden content */
.container {
  position: absolute 100% 0 null 0;
  overflow-y: auto;
  height: 100%;
  padding: var(--spacer);
  background-color: #fff;
  color: var(--primary-text);
  border-radius: 2px;
}

/* Alt version
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.root[data-cat="jobs"] {
  & .content {
    background: color(var(--accent-color) tint(50%));
  }
}

/* Inside the card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.insideRoot {
  color: var(--primary-text);

  & ul {
    margin-bottom: var(--spacer);
    padding-left: var(--spacer-md);
    list-style-type: circle;
  }
}

.insideIcon {
  float: right;
  cursor: pointer;
}

.insideFooter {
  margin-top: var(--spacer);
  padding-top: var(--spacer);
  color: var(--secondary-text);
  border-top: 1Px solid var(--grey-lighten);
  font-size: var(--text-md);
  font-style: italic;
}
